$blue: #2b6cb0;

.main-navigation {
  a {
    color: white;

    &:hover, &:focus {
      text-decoration: underline;
    }

    &:active {
      color: $blue
    }
  }

  // li {
  //   margin-right: 1em;
  // }
}

.bmal-logo-wrapper-wrapper {
  flex: 3;
  max-width: 450px;
  min-width: 250px;

  & + ul {
    flex: 4; 
  }
}

.bmal-logo-wrapper {
  padding-top: 21.6%;
  position: relative;
  display: block;
}

.bmal-logo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  // @media screen and (max-width: 480px) {
  //   max-width: 300px;
  //   max-height: 50px;
  // }
}

// .main-navigation > a {
//   height: 50px;
// }

@keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}

.loading-spinner {
  color: $blue;
  animation: rotation 2s infinite linear;
  font-size: 5em;
}

.icon-adjust {
  position: relative;
  top: -2px;
  margin-right: 0.25em;
}

dl {
  dt {
    font-weight: bold;
  }
}

.checkbox-toggle {
  &:checked {
    + .toggle-target.hidden {
      display: flex;
    }
  }
}

.toggle-target {
  top: calc(100% - 0.5em);
  right: 0.5em;
}

// sticky footer

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.text-shadow {
  text-shadow: 0.05em 0.05em 0 rgba(black, 0.7)
}

.thumbnail-placeholder {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    display: inline-block;
    padding-top: 75%;
  }

  .loading-spinner {
    font-size: 2em;
  }
}

